.products-title {
  margin: 0.75rem;
  margin-right: 0;
  font-weight: lighter;
  color: #666;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0 0.75rem 2rem;
}
